.form
	&__row
		margin-bottom 24px
		&:last-child
			margin-bottom 0
	&__input
		border 1px solid #f3f3f3
		padding-left 10px
		padding-right 10px
		border-radius 3px
	&__textarea
		border 1px solid #f3f3f3
		padding 5px 10px
		width 100%
		min-height 112px
		border-radius 3px
	// &__submit





