include ../icon/icon

mixin breadcrumbs-cat()
	.breadcrumbs&attributes(attributes)
		ol.breadcrumbs__list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Главная
					+icon('arrow-right', true).breadcrumbs__icon
				meta(itemprop='position', content='1')

			li.breadcrumbs__item.breadcrumbs__item_hide(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Лента новостей
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='2')

			li.breadcrumbs__item.breadcrumbs__item_more.breadcrumbs__item_siblings.breadcrumbs__item_active(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction/ancillaryjustice')
					span(itemprop='name') Новости России
					+icon('arrow-down', true).breadcrumbs__more-icon
				meta(itemprop='position', content='3')

				ul.breadcrumbs__sub
					li.breadcrumbs__sub-item
						a.breadcrumbs__sub-link(href="#") Проишествия
					li.breadcrumbs__sub-item
						a.breadcrumbs__sub-link(href="#") Криминальные происшествия
					li.breadcrumbs__sub-item
						a.breadcrumbs__sub-link(href="#") Терроризм

			li.breadcrumbs__item.breadcrumbs__item_siblings(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction/ancillaryjustice')
					span(itemprop='name') Проишествия

				meta(itemprop='position', content='4')

			li.breadcrumbs__item.breadcrumbs__item_siblings(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction/ancillaryjustice')
					span(itemprop='name') Криминальные происшествия

				meta(itemprop='position', content='5')

			li.breadcrumbs__item.breadcrumbs__item_siblings(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction/ancillaryjustice')
					span(itemprop='name') Терроризм

				meta(itemprop='position', content='6')


mixin breadcrumbs-districts()
	.breadcrumbs.breadcrumbs_third&attributes(attributes)
		ol.breadcrumbs__list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Главная
					+icon('arrow-right', true).breadcrumbs__icon
				meta(itemprop='position', content='1')

			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Районы
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='2')




mixin breadcrumbs-district()
	.breadcrumbs.breadcrumbs_third&attributes(attributes)
		ol.breadcrumbs__list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Главная
					+icon('arrow-right', true).breadcrumbs__icon
				meta(itemprop='position', content='1')

			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Районы
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='2')


			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Кировский район
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='3')


mixin breadcrumbs-person()
	.breadcrumbs.breadcrumbs_third&attributes(attributes)
		ol.breadcrumbs__list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Главная
					+icon('arrow-right', true).breadcrumbs__icon
				meta(itemprop='position', content='1')

			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Персоны
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='2')


mixin breadcrumbs-address()
	.breadcrumbs.breadcrumbs_third.breadcrumbs_fourth&attributes(attributes)
		ol.breadcrumbs__list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Справочник
					+icon('arrow-right', true).breadcrumbs__icon
				meta(itemprop='position', content='1')

			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Адреса Петербурга
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='2')

			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Разработки
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='3')




mixin breadcrumbs-question()
	.breadcrumbs.breadcrumbs_third&attributes(attributes)
		ol.breadcrumbs__list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Главная
					+icon('arrow-right', true).breadcrumbs__icon
				meta(itemprop='position', content='1')

			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Опросы
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='2')



mixin breadcrumbs-user-comm()
	.breadcrumbs.breadcrumbs_fourth.breadcrumbs_five&attributes(attributes)
		ol.breadcrumbs__list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Главная
					+icon('arrow-right', true).breadcrumbs__icon
				meta(itemprop='position', content='1')

			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Пользователь
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='2')

			li.breadcrumbs__item.breadcrumbs__item_active(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction/ancillaryjustice')
					span(itemprop='name') Комментарии
				meta(itemprop='position', content='3')


mixin breadcrumbs-user-news()
	.breadcrumbs.breadcrumbs_fourth.breadcrumbs_five&attributes(attributes)
		ol.breadcrumbs__list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Главная
					+icon('arrow-right', true).breadcrumbs__icon
				meta(itemprop='position', content='1')

			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Пользователь
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='2')

			li.breadcrumbs__item.breadcrumbs__item_active(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction/ancillaryjustice')
					span(itemprop='name') Новости
				meta(itemprop='position', content='3')



mixin breadcrumbs-user-video()
	.breadcrumbs.breadcrumbs_five&attributes(attributes)
		ol.breadcrumbs__list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Главная
					+icon('arrow-right', true).breadcrumbs__icon
				meta(itemprop='position', content='1')

			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Пользователь
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='2')

			li.breadcrumbs__item.breadcrumbs__item_active(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction/ancillaryjustice')
					span(itemprop='name') Видео
				meta(itemprop='position', content='3')