include ../icon/icon

mixin breadcrumbs-cat()
	.breadcrumbs&attributes(attributes)
		ol.breadcrumbs__list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Главная
					+icon('arrow-right', true).breadcrumbs__icon
				meta(itemprop='position', content='1')

			li.breadcrumbs__item.breadcrumbs__item_hide(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Лента новостей
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='2')

			li.breadcrumbs__item.breadcrumbs__item_more.breadcrumbs__item_siblings.breadcrumbs__item_active(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction/ancillaryjustice')
					span(itemprop='name') Новости России
					+icon('arrow-down', true).breadcrumbs__more-icon
				meta(itemprop='position', content='3')

				ul.breadcrumbs__sub
					li.breadcrumbs__sub-item
						a.breadcrumbs__sub-link(href="#") Проишествия
					li.breadcrumbs__sub-item
						a.breadcrumbs__sub-link(href="#") Криминальные происшествия
					li.breadcrumbs__sub-item
						a.breadcrumbs__sub-link(href="#") Терроризм

			li.breadcrumbs__item.breadcrumbs__item_siblings(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction/ancillaryjustice')
					span(itemprop='name') Проишествия

				meta(itemprop='position', content='4')

			li.breadcrumbs__item.breadcrumbs__item_siblings(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction/ancillaryjustice')
					span(itemprop='name') Криминальные происшествия

				meta(itemprop='position', content='5')

			li.breadcrumbs__item.breadcrumbs__item_siblings(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction/ancillaryjustice')
					span(itemprop='name') Терроризм

				meta(itemprop='position', content='6')



mixin breadcrumbs-districts()
	.breadcrumbs.breadcrumbs_sec&attributes(attributes)
		ol.breadcrumbs__list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Главная
					+icon('arrow-right', true).breadcrumbs__icon
				meta(itemprop='position', content='1')

			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Районы
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='2')




mixin breadcrumbs-district()
	.breadcrumbs.breadcrumbs_sec&attributes(attributes)
		ol.breadcrumbs__list(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Главная
					+icon('arrow-right', true).breadcrumbs__icon
				meta(itemprop='position', content='1')

			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Районы
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='2')


			li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a.breadcrumbs__link(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Кировский район
					+icon('arrow-right', true).breadcrumbs__icon

				meta(itemprop='position', content='3')
