include ../icon/icon

mixin chanels()
	.chanels&attributes(attributes)
		.chanels__top
			h2.chanels__title Каналы
			ul.chanels__nav
				li.chanels__nav-item
					a.chanels__nav-link(href="#") Про здоровье
				li.chanels__nav-item
					a.chanels__nav-link(href="#") Лучшие тату Питера
				li.chanels__nav-item
					a.chanels__nav-link(href="#") Театральный Петербург
				li.chanels__nav-item
					a.chanels__nav-link(href="#") Портреты
				li.chanels__nav-item
					a.chanels__nav-link(href="#") Дом ужаcов
				li.chanels__nav-item
					a.chanels__nav-link(href="#") Все каналы

		.chanels__list-w
			ul.chanels__list
				li.chanels__item
					a.chanels__category(href="#") арт-репортажи
					a.chanels__link(href="#")
						.chanels__image
							img(src="assets/images/content/chanel-img-1.jpg", alt="")
							+icon('video-icon', true).chanels__video-icon
						.chanels__w
							.chanels__meta
								.chanels__date Вчера 18:56
								.chanels__views
									+icon('views-icon', true).chanels__views-icon
									| 256
							.chanels__item-title В мастерской художника: Николай КОПЕЙКИН
				li.chanels__item
					a.chanels__category(href="#") книжный петербург
					a.chanels__link(href="#")
						.chanels__image
							img(src="assets/images/content/chanel-img-2.jpg", alt="")
							.chanels__video-icon
								+icon('video-icon', true).chanels__video-icon
						.chanels__w
							.chanels__meta
								.chanels__date Вчера 18:56
								.chanels__views
									+icon('views-icon', true).chanels__views-icon
									| 256
							.chanels__item-title Вышел "Чужой дневник" Даниила Гранина

				li.chanels__item
					a.chanels__category(href="#") сберегая петербург
					a.chanels__link(href="#")
						.chanels__image
							img(src="assets/images/content/chanel-img-3.jpg", alt="")
							.chanels__video-icon
						.chanels__w
							.chanels__meta
								.chanels__date Вчера 18:56
								.chanels__views
									+icon('views-icon', true).chanels__views-icon
									| 256
							.chanels__item-title Рефинансирование ипотеки в Санкт-Петербурге

				li.chanels__item
					a.chanels__category(href="#") новости компаний
					a.chanels__link(href="#")
						.chanels__image
							img(src="assets/images/content/chanel-img-4.jpg", alt="")
						.chanels__w
							.chanels__meta
								.chanels__date Вчера 18:56
								.chanels__views
									+icon('views-icon', true).chanels__views-icon
									| 256
							.chanels__item-title Застройщик "Армада-групп" строит коттеджный поселок

				li.chanels__item
					a.chanels__category(href="#") театральный петербург
					a.chanels__link(href="#")
						.chanels__image
							img(src="assets/images/content/chanel-img-5.jpg", alt="")
						.chanels__w
							.chanels__meta
								.chanels__date Вчера 18:56
								.chanels__views
									+icon('views-icon', true).chanels__views-icon
									| 256
							.chanels__item-title Денис Рожков собрал собственную музыкальную группу

				li.chanels__item
					a.chanels__category(href="#") театральный петербург
					a.chanels__link(href="#")
						.chanels__image
							img(src="assets/images/content/chanel-img-6.jpg", alt="")
							.chanels__video-icon
						.chanels__w
							.chanels__meta
								.chanels__date Вчера 18:56
								.chanels__views
									+icon('views-icon', true).chanels__views-icon
									| 256
							.chanels__item-title Екатерина Климова: у каждого свой Мастер и своя Маргарита

				li.chanels__item.chanels__item_hidden
					a.chanels__category(href="#") портреты
					a.chanels__link(href="#")
						.chanels__image
							img(src="assets/images/content/chanel-img-7.jpg", alt="")
							.chanels__video-icon
						.chanels__w
							.chanels__meta
								.chanels__date Вчера 18:56
								.chanels__views
									+icon('views-icon', true).chanels__views-icon
									| 256
							.chanels__item-title Анонс: Марат Балаев на Piter.TV

				li.chanels__item.chanels__item_hidden
					a.chanels__category(href="#") мнения
					a.chanels__link(href="#")
						.chanels__image
							img(src="assets/images/content/chanel-img-8.jpg", alt="")
							.chanels__video-icon
								+icon('video-icon', true).chanels__video-icon
						.chanels__w
							.chanels__meta
								.chanels__date Вчера 18:56
								.chanels__views
									+icon('views-icon', true).chanels__views-icon
									| 256
							.chanels__item-title Халк довел болельщиков до слёз

				li.chanels__item.chanels__item_hidden
					a.chanels__category(href="#") портреты
					a.chanels__link(href="#")
						.chanels__image
							img(src="assets/images/content/chanel-img-7.jpg", alt="")
							.chanels__video-icon
								+icon('video-icon', true).chanels__video-icon
						.chanels__w
							.chanels__meta
								.chanels__date Вчера 18:56
								.chanels__views
									+icon('views-icon', true).chanels__views-icon
									| 256
							.chanels__item-title Анонс: Марат Балаев на Piter.TV

				li.chanels__item.chanels__item_hidden
					a.chanels__category(href="#") мнения
					a.chanels__link(href="#")
						.chanels__image
							img(src="assets/images/content/chanel-img-8.jpg", alt="")
							.chanels__video-icon
								+icon('video-icon', true).chanels__video-icon
						.chanels__w
							.chanels__meta
								.chanels__date Вчера 18:56
								.chanels__views
									+icon('views-icon', true).chanels__views-icon
									| 256
							.chanels__item-title Халк довел болельщиков до слёз

