.chanels
	&__top
		margin-bottom 26px
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items center
	&__title
		@extends .title
	&__nav
		display flex
		flex-flow row nowrap
		justify-content flex-start
		align-items center
		+r($tL)
			max-width 485px
			white-space nowrap
			overflow hidden
		+r($tM)
			display none

	&__nav-item
		position relative
		margin-right 28px
		// line-height 1
		&:after
			position absolute
			top 50%
			right -14px
			content ''
			width 1px
			height 23px
			background #f3f3f3
			transform translateY(-50%)
		&:last-child
			margin-right 0
	&__nav-link
		color #6a7381
		font-family $hL
		font-size 16px
		text-decoration none
		tr(all .3s ease)
		&:hover
			color darken(#6a7381, 20)
			tr(all .3s ease)
	&__list-w
		overflow hidden
	&__list
		margin-left -25px
		display flex
		flex-flow row wrap
		justify-content flex-start
		align-items flex-start
		+r($tL)
			margin-left -16px
		+r($tM)
			margin-left 0
	&__item
		margin-left 25px
		margin-bottom 37px
		width ratio-percentage(234, 1315)
		+r($d)
			width ratio-percentage(234, 1036)
		+r($tL)
			margin-left 16px
			width ratio-percentage(234, 750)

		+r($tM)
			margin-left 0
			width 100%

	&__item_hidden
		+r($tL)
			display none
	&__link
		display block
		color #001d49
		text-decoration none
		+r($tM)
			position relative
			display flex
			justify-content space-between

	&__category
		position relative
		margin-bottom 12px
		padding-left 14px
		display block
		color #001d49
		font-family $hM
		font-size 14px
		line-height 1
		text-transform uppercase
		text-decoration none
		&:hover
			color lighten(#001d49, 10)
		&:after
			position absolute
			top 50%
			left 0
			content ''
			width 8px
			height 8px
			border-radius 50%
			background-color #fbb727
			transform translateY(-50%)
	&__image
		position relative
		margin-bottom 8px
		max-height 141px
		border-radius 3px
		+r($tM)
			// margin-right 14px
			margin-bottom 0
			width 105px
			max-height 60px
		img
			respimg()

	&__video-icon
		position absolute
		top 11px
		right 11px
		width 47px
		height 32px
		fill #fff
		+r($tM)
			top 7px
			right 7px
			width 32px
			height 19px

	&__w
		+r($tM)
			max-width 184px
			display flex
			flex-flow column
			justify-content flex-start
	&__meta
		margin-bottom 7px
		display flex
		flex-flow row wrap
		justify-content flex-start
		align-items center
		color #a0a7b2
		font-size 14px
		line-height 1.571

	&__date,
	&__views
		position relative
	&__date-icon
	&__views-icon
		position absolute
		top 50%
		left 0
		transform translateY(-50%)
	&__date
		// margin-right 14px
		// padding-left 20px
		min-width 114px
	&__date-icon
		width 16px
		height 16px
		fill #a0a7b2
	&__views
		// margin-right 20px
		min-width 62px
		padding-left 24px
	&__views-icon
		// margin-right 6px
		width 18px
		height 12px
		fill #a0a7b2
		line-height 1
	&__item-title
		color #001d49
		font-size 16px
		line-height 1.5
		+r($tM)
			order -1
		&:hover
			color lighten(#001d49, 10)

.chanels_side
	.sidechanels__header
		+r($tL)
			display flex
			justify-content space-between
	.chanels__nav
		display none
		+r($tL)
			display flex
		+r($tM)
			display none
	.chanels__list
		margin-left 0
		display block
		+r($tL)
			margin-left -16px
			display flex
		+r($tM)
			margin-left 0
	.chanels__item
		margin-left 0
		margin-bottom 0
		width 100%
		+r($tL)
			border-bottom none
			margin-left 16px
			margin-bottom 30px
			padding-top 0
			padding-bottom 0
			width 240px
			width ratio-percentage(232, 750)
		+r($tM)
			border-bottom 1px solid #f3f3f3
			margin-left 0
			margin-bottom 0
			padding-top 10px
			padding-bottom 10px
			width 100%
	.chanels__link
		display flex
		justify-content space-between
		+r($tL)
			display block
		+r($tM)
			display flex
	.chanels__image
		width 112px
		width ratio-percentage(110,288)
		max-height 66px
		+r($d)
			width ratio-percentage(110,288)
		+r($tL)
			width 100%
			max-height 100%
		+r($tM)
			// width 100%
			width ratio-percentage(110,288)
			max-height 100%

	.chanels__video-icon
		top 5px
		right 5px
		width 33px
		height 22px
	.chanels__w
		width ratio-percentage(160,288)
		+r($tL)
			width 100%
			display flex
			flex-flow column
		+r($tM)
			// width 100%
			width ratio-percentage(167,288)
	.chanels__item-title
		+r($tL)
			order 1
		+r($tM)
			order 0
	// .chanels__meta

	.chanels__date
		min-width 95px
