mixin sidechanels()
	.sidechanels.chanels.chanels_side&attributes(attributes)
		header.sidechanels__header.sidebar__header
			h2.sidechanels__title.title.title_side Каналы

			ul.chanels__nav
				li.chanels__nav-item
					a.chanels__nav-link(href="#") Про здоровье
				li.chanels__nav-item
					a.chanels__nav-link(href="#") Лучшие тату Питера
				li.chanels__nav-item
					a.chanels__nav-link(href="#") Театральный Петербург
				li.chanels__nav-item
					a.chanels__nav-link(href="#") Портреты
				li.chanels__nav-item
					a.chanels__nav-link(href="#") Дом ужаcов
				li.chanels__nav-item
					a.chanels__nav-link(href="#") Все каналы

		ul.sidechanels__list.chanels__list
			li.sidechanels__item.chanels__item
				a.chanels__category(href="#") арт-репортажи
				a.chanels__link(href="#")
					.chanels__image
						img(src="assets/images/content/chanel-img-1.jpg", alt="")
						+icon('video-icon', true).chanels__video-icon
					.chanels__w
						.chanels__item-title Вышел "Чужой дневник”…
						.chanels__meta
							.chanels__date Вчера 18:56
							.chanels__views
								+icon('views-icon', true).chanels__views-icon
								| 256

			li.sidechanels__item.chanels__item
				a.chanels__category(href="#") арт-репортажи
				a.chanels__link(href="#")
					.chanels__image
						img(src="assets/images/content/chanel-img-2.jpg", alt="")
						+icon('video-icon', true).chanels__video-icon
					.chanels__w
						.chanels__item-title В мастерской художника:Ник…
						.chanels__meta
							.chanels__date Вчера 18:56
							.chanels__views
								+icon('views-icon', true).chanels__views-icon
								| 256

			li.sidechanels__item.chanels__item
				a.chanels__category(href="#") арт-репортажи
				a.chanels__link(href="#")
					.chanels__image
						img(src="assets/images/content/chanel-img-3.jpg", alt="")
						+icon('video-icon', true).chanels__video-icon
					.chanels__w
						.chanels__item-title Вышел "Чужой дневник”…
						.chanels__meta
							.chanels__date Вчера 18:56
							.chanels__views
								+icon('views-icon', true).chanels__views-icon
								| 256

			li.sidechanels__item.chanels__item.sidechanels__item_dh
				a.chanels__category(href="#") арт-репортажи
				a.chanels__link(href="#")
					.chanels__image
						img(src="assets/images/content/chanel-img-4.jpg", alt="")
						+icon('video-icon', true).chanels__video-icon
					.chanels__w
						.chanels__item-title В мастерской художника:Ник…
						.chanels__meta
							.chanels__date Вчера 18:56
							.chanels__views
								+icon('views-icon', true).chanels__views-icon
								| 256

			li.sidechanels__item.chanels__item.sidechanels__item_dh
				a.chanels__category(href="#") арт-репортажи
				a.chanels__link(href="#")
					.chanels__image
						img(src="assets/images/content/chanel-img-4.jpg", alt="")
						+icon('video-icon', true).chanels__video-icon
					.chanels__w
						.chanels__item-title В мастерской художника:Ник…
						.chanels__meta
							.chanels__date Вчера 18:56
							.chanels__views
								+icon('views-icon', true).chanels__views-icon
								| 256

			li.sidechanels__item.chanels__item.sidechanels__item_dh
				a.chanels__category(href="#") арт-репортажи
				a.chanels__link(href="#")
					.chanels__image
						img(src="assets/images/content/chanel-img-4.jpg", alt="")
						+icon('video-icon', true).chanels__video-icon
					.chanels__w
						.chanels__item-title В мастерской художника:Ник…
						.chanels__meta
							.chanels__date Вчера 18:56
							.chanels__views
								+icon('views-icon', true).chanels__views-icon
								| 256
