mixin chnls()
	ul.chnls&attributes(attributes)
		li.chnls__channel
			.chnls__top
				.chnls__image
					img(src="assets/images/content/chnls/chnls-1.jpg", alt="")
				.chnls__w
					.chnls__channel-title Путешествуем с Piter.TV
					.chnls__text Путешествия по Северо-Западу: Санкт-Петербург, Карелия, Ленинградская область и Финляндия.
					a.chnls__all(href="#")
						| Все видео
						+icon('arrow-right', true).chnls__all-icon


			.chnls__body
				ul.chnls__list
					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-1.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title Появилось видео с места нападения на кассира "Дикси"

					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-2.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title Пхёнчхан: В месте проведения ОИ 2018 начался ураган
					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-3.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__video-w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title "Зенит" неожиданно проиграл датскому "Вайле" на сборах
					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-4.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title Петербургский метрополитен выпустил ролик "Мы соединяем"
					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-5.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__video-w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title Появилось видео с места нападения на кассира "Дикси"


		li.chnls__channel
			.chnls__top
				.chnls__image
					img(src="assets/images/content/chnls/chnls-2.jpg", alt="")
				.chnls__w
					.chnls__channel-title Страница сенатора
					.chnls__text Путешествия по Северо-Западу: Санкт-Петербург, Карелия, Ленинградская область и Финляндия.
					a.chnls__all(href="#")
						| Все видео
						+icon('arrow-right', true).chnls__all-icon


			.chnls__body
				ul.chnls__list
					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-1.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title Появилось видео с места нападения на кассира "Дикси"

					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-2.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title Пхёнчхан: В месте проведения ОИ 2018 начался ураган
					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-3.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__video-w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title "Зенит" неожиданно проиграл датскому "Вайле" на сборах
					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-4.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title Петербургский метрополитен выпустил ролик "Мы соединяем"
					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-5.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__video-w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title Появилось видео с места нападения на кассира "Дикси"



		li.chnls__channel
			.chnls__top
				.chnls__image
					img(src="assets/images/content/chnls/chnls-3.jpg", alt="")
				.chnls__w
					.chnls__channel-title Сберегая Петербург
					.chnls__text Путешествия по Северо-Западу: Санкт-Петербург, Карелия, Ленинградская область и Финляндия.
					a.chnls__all(href="#")
						| Все видео
						+icon('arrow-right', true).chnls__all-icon


			.chnls__body
				ul.chnls__list
					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-1.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title Появилось видео с места нападения на кассира "Дикси"

					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-2.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title Пхёнчхан: В месте проведения ОИ 2018 начался ураган
					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-3.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__video-w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title "Зенит" неожиданно проиграл датскому "Вайле" на сборах
					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-4.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title Петербургский метрополитен выпустил ролик "Мы соединяем"
					li.chnls__video.video
						a.video__link(href="#")
							.video__img
								img(src="assets/images/content/day-pic-5.jpg", alt="")
								+icon('video-icon', true).video__video-icon
							.video__video-w
								.video__meta
									.video__date
										+icon('date-icon', true).video__date-icon
										| Вчера 18:56
									.video__views
										+icon('views-icon', true).video__views-icon
										| 256
									.video__comments
										+icon('comments-icon', true).video__comments-icon
										| 2
								.video__title Появилось видео с места нападения на кассира "Дикси"
