mixin address-list()
	section.address-list.category&attributes(attributes)
		header.address-list__header.category__header
			h1.category__title.title.title_full Справочник

		+search-address().address-list__form

		.address-list__find Найдено
			span 15637

		//- .category__text
		//- 	p Сайт Piter.TV предлагает всем посетителям последние новости России и мира. Граждане нашей страны, проживающие в любом городе, имеют право знать обо всех важных событиях, которые происходят в государстве, будь то принятие нового закона или выступление звезды мирового уровня. <a href="#">Подробнее</a>


		ul.address-list__list.category__list
			li.address-list__item.category__item.address
				a.address__link(href="#")
				figure.address__photo
					//- img(src="assets/images/content/person/person-1.jpg", alt="")
				.address__w
					.address__title Архитектурное бюро Студия-17
					a.address__category(href="#pharmacy") Аптеки
					.address__desc
						p 03, аптека 191144, г. Санкт-Петербург, Суворовский пр., 33 тел.: +7(812)2752935
					.address__address 191144, г. Санкт-Петербург, Суворовский пр., 33



			li.address-list__item.category__item.address
				a.address__link(href="#")
				figure.address__photo
					//- img(src="assets/images/content/person/person-2.jpg", alt="")
				.address__w
					.address__title 1'st of all, ресторан
					a.address__category(href="#pharmacy") Рестораны
					.address__desc
						p 1'st of all, ресторан 194156, г. Санкт-Петербург, пр. Энгельса, 29-27
					.address__address 194156, г. Санкт-Петербург, пр. Энгельса, 29-27


			li.address-list__item.category__item.address
				a.address__link(href="#")
				figure.address__photo
					//- img(src="assets/images/content/person/person-1.jpg", alt="")
				.address__w
					.address__title ПОЧТА РОССИИ, УФПС Санкт-Петербурга, Красногвардейский Межрайонный почтамт
					a.address__category(href="#pharmacy") Аптеки
					.address__desc
						p 03, аптека 191144, г. Санкт-Петербург, Суворовский пр., 33 тел.: +7(812)2752935
					.address__address 191144, г. Санкт-Петербург, Суворовский пр., 33


			li.address-list__item.category__item.address
				a.address__link(href="#")
				figure.address__photo
					//- img(src="assets/images/content/person/person-2.jpg", alt="")
				.address__w
					.address__title ПОЧТА РОССИИ, УФПС Санкт-Петербурга, Красногвардейский Межрайонный почтамт
					a.address__category(href="#pharmacy") Аптеки
					.address__desc
						p 03, аптека 191144, г. Санкт-Петербург, Суворовский пр., 33 тел.: +7(812)2752935
					.address__address 191144, г. Санкт-Петербург, Суворовский пр., 33


			li.address-list__item.category__item.address
				a.address__link(href="#")
				figure.address__photo
					//- img(src="assets/images/content/person/person-1.jpg", alt="")
				.address__w
					.address__title ПОЧТА РОССИИ, УФПС Санкт-Петербурга, Красногвардейский Межрайонный почтамт
					a.address__category(href="#pharmacy") Аптеки
					.address__desc
						p 03, аптека 191144, г. Санкт-Петербург, Суворовский пр., 33 тел.: +7(812)2752935
					.address__address 191144, г. Санкт-Петербург, Суворовский пр., 33
