// General body styles

.page
	background-color #ffffff
	font-display swap
	font-family $hR
	font-weight normal
	font-size 16px
	line-height 1.5
	color #001d49
	tr(all .3s ease)

img
	display block
	max-width 100%
	height auto

// img:not([src])
// 	visibility hidden

// Container

.in
	margin auto
	padding-right 15px
	padding-left 15px
	min-width 320px
	max-width 1345px
	+r($d)
		max-width 1066px
	+r($tL)
		padding-left 25px
		padding-right 25px
		max-width 800px
	+r($tM)
		padding-left 8px
		padding-right 8px
		max-width 320px

// Buttons

.button
	border 1px solid #f3f3f3
	padding-top 9px
	padding-right 25px
	padding-bottom 10px
	padding-left 25px
	height 40px

	background-color #fff
	color #40527b
	font-size 16px
	text-align center
	border-radius 40px
	text-decoration none
	tr(all .3s ease)
	&:hover
		color darken(#40527b, 10)
		tr(all .3s ease)

.button_form
	padding-top 11px
	padding-right 30px
	padding-bottom 6px
	padding-left 30px
	height 40px
	display inline-block
	vertical-align top
	background-color #0790d1
	color #FFF
	line-height 1
	border-radius 8px
	&:hover
		background-color darken(#0790d1,10)
		color #FFF


// Titles

.title
	position relative
	padding-bottom 12px
	max-width 600px
	display inline-block
	font-size 26px
	font-family $hM
	line-height 1.076
	+r($tM)
		padding-bottom 8px
		font-size 20px
		line-height 1.4
	&:after
		position absolute
		top 100%
		left 0
		width 100%
		height 2px
		content ''
		background-color #fbb727

.title_side
	padding-bottom 8px
	color #001d49
	font-size 22px
	font-family $hL
	line-height 1.136
	&:after
		background-color #40527b

.title_full
	max-width 100%
	+r($tM)
		font-size 26px

// wysiwyg editor styles

.wysiwyg
	p
		margin-bottom 24px
		font-size 14px
		line-height 1.714
		&:last-child
			margin-bottom 0

		a
			color #0790d1
			font-family $hL
			text-decoration none
			&:hover
				text-decoration underline

	img
		margin-bottom 24px
		max-width 100%
		height auto

.resp-image
	img
		max-width 100%
		height auto


.wysiwyg-entry
	p
		margin-bottom 30px
		color #1f2630
		font-size 15px
		line-height 1.6
		&:last-child
			margin-bottom 0

		a
			color #0790d1
			font-family $hL
			text-decoration none
			&:hover
				text-decoration underline

	figure
		margin-bottom 16px

	figcaption
		margin-top 9px
		margin-bottom 10px
		font-size 15px

	img
		margin-bottom 16px
		max-width 100%
		height auto
