@font-face
	font-family 'HelveticaRegular'
	src local('Helvetica Regular'), local('HelveticaRegular-Regular'),
		url('../fonts/subset-HelveticaRegular-Regular.woff2') format('woff2'),
		url('../fonts/subset-HelveticaRegular-Regular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'HelveticaLight'
	src local('Helvetica Light'), local('HelveticaLight-Regular'),
		url('../fonts/hinted-subset-HelveticaLight-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-HelveticaLight-Regular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'HelveticaNeue-Medium'
	src local('Helvetica Neue Medium'), local('HelveticaNeue-Medium'),
		url('../fonts/hinted-subset-HelveticaNeue-Medium.woff2') format('woff2'),
		url('../fonts/hinted-subset-HelveticaNeue-Medium.woff') format('woff')
	font-weight normal
	font-style normal


@font-face
	font-family 'HelveticaBold'
	src local('Helvetica Bold'), local('HelveticaBold-Regular'),
		url('../fonts/subset-HelveticaBold-Regular.woff2') format('woff2'),
		url('../fonts/subset-HelveticaBold-Regular.woff') format('woff')
	font-weight normal
	font-style normal


$hL = 'HelveticaLight' , Helvetica Neue, Helvetica, Arial, sans-serif
$hR = 'HelveticaRegular' , Helvetica Neue, Helvetica, Arial, sans-serif
$hM = 'HelveticaNeue-Medium' , Helvetica Neue, Helvetica, Arial, sans-serif
$hB = 'HelveticaBold' , Helvetica Neue, Helvetica, Arial, sans-serif

