.mentions
	&__header
		+r($tM)
			margin-bottom 20px
	&__item
		border-bottom 1px solid #f3f3f3
		padding-top 16px
		padding-bottom 16px
		+r($tM)
			padding-top 10px
			padding-bottom 10px
		&:first-child
			padding-top 0
	&__link
		display flex
		flex-flow row
		justify-content flex-start
		text-decoration none
	&__image
		margin-right 16px
		+r($tM)
			max-width 105px
			width 105px
		img
			respimg()

	&__w
		flex 1
	&__item-title
		margin-bottom 5px
		color #001d49
		font-size 18px
		+r($tM)
			font-size 16px
	&__meta
		max-width 240px
		display flex
		flex-flow row wrap
		justify-content space-between
		color #a0a7b2
		font-size 14px
		+r($tM)
			max-width 160px
	&__date,
	&__views,
	&__comments
		position relative

	// &__date

	&__views
		padding-left 24px
	&__comments
		padding-left 24px
		+r($tM)
			display none
	&__views-icon,
	&__comments-icon
		position absolute
		top 50%
		left 0
		fill #a0a7b2
		transform translateY(-50%)
	&__views-icon
		width 18px
		height 12px
	&__comments-icon
		width 14px
		height 14px
