extends /blocks/layout-default/layout-sub-channel

include /blocks/header/header
include /blocks/main/main
include /blocks/breadcrumbs/breadcrumbs
include /blocks/content/content
include /blocks/sidebar/sidebar

include /blocks/sidefeed/sidefeed
include /blocks/sidechanels/sidechanels


include /blocks/category/category
include /blocks/sidenav/sidenav
include /blocks/poll/poll
include /blocks/related/related

include /blocks/pagination/pagination

include /blocks/footer/footer


block head
	- var pageTitle = 'Piter.tv - сберегая петербург';

block content
	+header()
	+main()
		.main__in
			.main__breadcrumbs
				+breadcrumbs-cat()
			.main__w
				+content().main__content
					+category-channel().main__category
					+pagination().main__pagination

				+sidebar().sidebar__cat.main__sidebar
					+sidenav().sidebar__row
					+poll-side().sidebar__row.poll_s-wide
					+related().sidebar__row.related_wide

					+sidefeed().sidebar__feed.sidebar__row
					+sidechanels().sidebar__chanels.sidebar__row


			.main__text
				.main__text-w
					p Новости дня Санкт-Петербурга и России. <br/>«PITER.TV» — первый информационный портал Санкт-Петербурга в формате интернет-телевидения. Круглосуточно только свежие видео новости, эксклюзивные репортажи с места событий, комментарии специалистов, рассказы очевидцев и заявления официальных лиц.

					p Современные российские реалии таковы, что получение правдивой, объективной информации посредством традиционных СМИ фактически не возможно. Однобокая интерпретация событий и происшествий, негласная цензура на федеральных и региональных телеканалах заставляет думающих, свободомыслящих людей искать иные источники информации. Именно для таких граждан вещает канал «PITER.TV».

					p Современные российские реалии таковы, что получение правдивой, объективной информации посредством традиционных СМИ фактически не возможно. Однобокая интерпретация событий и происшествий, негласная цензура на федеральных и региональных телеканалах заставляет думающих, свободомыслящих людей искать иные источники информации. Именно для таких граждан вещает канал «PITER.TV».

				a.main__text-more(href="#")
					+icon('arrow-down', true).main__more-icon
					| Подробнее


	+footer()
