extends /blocks/layout/layout-sub-videos

include /blocks/header/header
include /blocks/main/main
include /blocks/breadcrumbs/breadcrumbs
include /blocks/content/content

include /blocks/sidebar/sidebar
include /blocks/category/category


include /blocks/sidenav/sidenav
include /blocks/poll/poll
include /blocks/related/related

include /blocks/pagination/pagination

include /blocks/footer/footer


block head
	- var pageTitle = 'Piter.tv - Ваше видео';

block content
	+header()
	+main()
		.main__in
			.main__breadcrumbs
				+breadcrumbs-cat()
			.main__w
				+content().main__content
					+category-videos().main__category
					+pagination().main__pagination
				+sidebar().sidebar__cat.main__sidebar
					+sidenav-videos().sidebar__row.sidenav_wide
					+poll-side-videos().sidebar__row.poll_s-wide
					+related().sidebar__row.related_wide
	+footer()
