.page_persons
	.main__w
		padding-top 44px



	.sidebar__best
		display none
		+r($d)
			display block
	.sidebar__feed
		display none
		+r($d)
			display block
	.sidebar__chanels
		display none
		+r($d)
			display block
	.sidenav
		+r($d)
			display none

	.poll_side
		+r($d)
			display none
