.u-video
	&__top
		margin-bottom 26px
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items center
	&__title
		@extends .title

	&__list-w
		overflow hidden
	&__list
		margin-left -25px
		// margin-right -25px
		display flex
		flex-flow row wrap
		justify-content flex-start
		align-items flex-start
		+r($tL)
			margin-left -16px
		+r($tM)
			margin-left 0
	&__item
		margin-left 25px
		margin-bottom 30px
		// width 240px
		width 192px
		width ratio-percentage(192, 1315)
		+r($d)
			width ratio-percentage(148, 1036)
		+r($tL)
			margin-left 16px
			width ratio-percentage(170, 750)

		+r($tM)
			margin-left 0
			// margin-right 16px
			margin-right 0
			// width ratio-percentage(176, 304)
			width 100%

	&__category
		position relative
		margin-bottom 3px
		padding-left 14px
		display block
		color #001d49
		font-family $hM
		font-size 12px
		line-height 1
		text-transform uppercase
		text-decoration none
		&:hover
			color lighten(#001d49, 10)
			tr(all .3s ease)
		&:after
			position absolute
			top 50%
			left 0
			content ''
			width 8px
			height 8px
			border-radius 50%
			background-color #0790d1
			transform translateY(-50%)
	&__link
		display block
		color #001d49
		text-decoration none
		&:hover
			.u-video__item-title
				color lighten(#001d49, 10)
				tr(all .3s ease)
	&__image
		position relative
		margin-bottom 8px
		max-height 108px
		border-radius 3px
		+r($d)
			max-height 88px
		+r($tL)
			max-height 103px
		+r($tM)
			max-height 100%

		img
			respimg()
			+r($tM)
				margin auto

	&__video-icon
		position absolute
		top 11px
		right 11px
		width 47px
		height 32px
		fill #fff

	&__meta
		margin-bottom 7px
		display flex
		flex-flow row wrap
		justify-content flex-start
		align-items center
		color #a0a7b2
		font-size 14px
		line-height 1.571

	&__user,
	&__views
		position relative
	&__views-icon
		position absolute
		top 50%
		left 0
		transform translateY(-50%)
	&__user
		margin-right 12px
	&__views
		padding-left 24px
	&__views-icon
		width 18px
		height 12px
		fill #a0a7b2
		line-height 1
	&__item-title
		font-size 15px
		line-height 1.2


	// .slick-list
	// 	+r($tM)
	// 		padding:0 34% 0 0

	.slick-dots
		bottom 0
		li
			margin 0
			margin-right 12px
			width 12px
			height 12px
			border-radius 10px
			background-color #d8d8d8
			&:last-child
				margin-right 0
		button
			padding 0
			width 12px
			height 12px
			&:before
				display none

		.slick-active
			background-color #40527b
