include ../icon/icon

mixin u-video()
	section.u-video&attributes(attributes)
		.u-video__top
			h2.u-video__title Ваше видео

		.u-video__list-w
			ul.u-video__list
				li.u-video__item
					a.u-video__category(href="#") дети

					a.u-video__link(href="#")
						.u-video__image
							img(src="assets/images/content/uservideo-img-1.jpg", alt="")
							.u-video__video-icon
						.u-video__meta
							.u-video__user CraftFox56
							.u-video__views
								+icon('views-icon', true).broadcast__views-icon
								| 256
						.u-video__item-title 01 Январь

				li.u-video__item
					a.u-video__category(href="#") юмор

					a.u-video__link(href="#")
						.u-video__image
							img(src="assets/images/content/uservideo-img-2.jpg", alt="")
							.u-video__video-icon
						.u-video__meta
							.u-video__user Red0
							.u-video__views
								+icon('views-icon', true).broadcast__views-icon
								| 256
						.u-video__item-title Тамада Одесса, ведущая в образе рыбачки Сони


				li.u-video__item
					a.u-video__category(href="#") спорт

					a.u-video__link(href="#")
						.u-video__image
							img(src="assets/images/content/uservideo-img-3.jpg", alt="")
							.u-video__video-icon
						.u-video__meta
							.u-video__user Red0
							.u-video__views
								+icon('views-icon', true).broadcast__views-icon
								| 256
						.u-video__item-title Хоккей

				li.u-video__item
					a.u-video__category(href="#") другое

					a.u-video__link(href="#")
						.u-video__image
							img(src="assets/images/content/uservideo-img-4.jpg", alt="")
						.u-video__meta
							.u-video__user Red0
							.u-video__views
								+icon('views-icon', true).broadcast__views-icon
								| 256
						.u-video__item-title китайская монета

				li.u-video__item
					a.u-video__category(href="#") проишествия

					a.u-video__link(href="#")
						.u-video__image
							img(src="assets/images/content/uservideo-img-5.jpg", alt="")
						.u-video__meta
							.u-video__user Red0
							.u-video__views
								+icon('views-icon', true).broadcast__views-icon
								| 256
						.u-video__item-title Шоссе

				li.u-video__item
					a.u-video__category(href="#") проишествия

					a.u-video__link(href="#")
						.u-video__image
							img(src="assets/images/content/uservideo-img-6.jpg", alt="")
							.u-video__video-icon
						.u-video__meta
							.u-video__user Red0
							.u-video__views
								+icon('views-icon', true).broadcast__views-icon
								| 256
						.u-video__item-title Видеокомментарий по пожару на Дороге Жизни

				li.u-video__item
					a.u-video__category(href="#") путешествия

					a.u-video__link(href="#")
						.u-video__image
							img(src="assets/images/content/uservideo-img-7.jpg", alt="")
							.u-video__video-icon
						.u-video__meta
							.u-video__user Red0
							.u-video__views
								+icon('views-icon', true).broadcast__views-icon
								| 256
						.u-video__item-title Милан. Миланский собор.

				li.u-video__item
					a.u-video__category(href="#") путешествия

					a.u-video__link(href="#")
						.u-video__image
							img(src="assets/images/content/uservideo-img-8.jpg", alt="")
							.u-video__video-icon
						.u-video__meta
							.u-video__user Red0
							.u-video__views
								+icon('views-icon', true).broadcast__views-icon
								| 256
						.u-video__item-title Большой каньон Крыма

				li.u-video__item
					a.u-video__category(href="#") путешествия

					a.u-video__link(href="#")
						.u-video__image
							img(src="assets/images/content/uservideo-img-9.jpg", alt="")
							.u-video__video-icon
						.u-video__meta
							.u-video__user Red0
							.u-video__views
								+icon('views-icon', true).broadcast__views-icon
								| 256
						.u-video__item-title Плавающий автобус. Будапешт.

				li.u-video__item
					a.u-video__category(href="#") ДРУГОЕ

					a.u-video__link(href="#")
						.u-video__image
							img(src="assets/images/content/uservideo-img-10.jpg", alt="")
							.u-video__video-icon
						.u-video__meta
							.u-video__user Red0
							.u-video__views
								+icon('views-icon', true).broadcast__views-icon
								| 256
						.u-video__item-title Актёр Сергей Малышев

				li.u-video__item
					a.u-video__category(href="#") ЖИВОТНЫЕ

					a.u-video__link(href="#")
						.u-video__image
							img(src="assets/images/content/uservideo-img-11.jpg", alt="")
							.u-video__video-icon
						.u-video__meta
							.u-video__user Red0
							.u-video__views
								+icon('views-icon', true).broadcast__views-icon
								| 256
						.u-video__item-title Быстрый бой

				li.u-video__item
					a.u-video__category(href="#") ЖИВОТНЫЕ

					a.u-video__link(href="#")
						.u-video__image
							img(src="assets/images/content/uservideo-img-12.jpg", alt="")
							.u-video__video-icon
						.u-video__meta
							.u-video__user CraftFox56
							.u-video__views
								+icon('views-icon', true).broadcast__views-icon
								| 256
						.u-video__item-title Котене
