mixin videos()
	.videos&attributes(attributes)
		.videos__list-w
			ul.videos__list
				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/day-pic-1.jpg", alt="")
							+icon('video-icon', true).videos__video-icon
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title Появилось видео с места нападения на кассира "Дикси"

				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/day-pic-2.jpg", alt="")
							+icon('video-icon', true).videos__video-icon
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title Пхёнчхан: В месте проведения ОИ 2018 начался ураган
				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/day-pic-3.jpg", alt="")
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title "Зенит" неожиданно проиграл датскому "Вайле" на сборах
				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/day-pic-4.jpg", alt="")
							+icon('video-icon', true).videos__video-icon
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title Петербургский метрополитен выпустил ролик "Мы соединяем"
				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/day-pic-5.jpg", alt="")
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title Появилось видео с места нападения на кассира "Дикси"
				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/day-pic-6.jpg", alt="")
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title На Туристской улице построят туннель в обход "дороги смерти"

				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/day-pic-7.jpg", alt="")
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title На Лиговке рабочие сломали автобусную остановку
				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/day-pic-8.jpg", alt="")
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title В "Балтийском доме" рассказали что такое любовь

				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/day-pic-1.jpg", alt="")
							+icon('video-icon', true).videos__video-icon
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title Появилось видео с места нападения на кассира "Дикси"

				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/day-pic-2.jpg", alt="")
							+icon('video-icon', true).videos__video-icon
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title Пхёнчхан: В месте проведения ОИ 2018 начался ураган
				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/day-pic-3.jpg", alt="")
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title "Зенит" неожиданно проиграл датскому "Вайле" на сборах


				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/day-pic-3.jpg", alt="")
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title "Зенит" неожиданно проиграл датскому "Вайле" на сборах






mixin videos-district()
	.videos&attributes(attributes)
		.videos__list-w
			ul.videos__list
				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/district/district-video-1.jpg", alt="")
							+icon('video-icon', true).videos__video-icon
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title "Устав читали?": прокуратура разрешила петербургским школьникам не ходить по форме

				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/district/district-video-2.jpg", alt="")
							+icon('video-icon', true).videos__video-icon
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title Автомобильные предприятия Санкт-Петербурга ждет простой из-за ЧМ-2018

				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/district/district-video-3.jpg", alt="")
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title Легковушка залезла под автобус на Ленинском проспекте

				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/district/district-video-4.jpg", alt="")
							+icon('video-icon', true).videos__video-icon
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title Краснопутиловская превратилась в реку из-за прорыва трубы

				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/district/district-video-5.jpg", alt="")
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title Забавное видео: в Кировском районе мужчина переплыл реку ...

				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/district/district-video-6.jpg", alt="")
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title У "Румбы" на Васи Алексеева шестеро мужчин избили до смерти ...


				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/district/district-video-7.jpg", alt="")
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title На Тракторной улице задержан преступник, стрелявший из ...

				li.videos__item
					a.videos__link(href="#")
						.videos__img
							img(src="assets/images/content/district/district-video-7.jpg", alt="")
						.videos__item-w
							.videos__meta
								.videos__date
									+icon('date-icon', true).videos__date-icon
									| Вчера 18:56
								.videos__views
									+icon('views-icon', true).videos__views-icon
									| 256
								.videos__comments
									+icon('comments-icon', true).videos__comments-icon
									| 2
							.videos__item-title На Тракторной улице задержан преступник, стрелявший из ...

