include ../icon/icon

mixin broadcasts()
	.broadcasts&attributes(attributes)
		ul.broadcasts__list
			li.broadcasts__item

				.broadcasts__day-w
					.broadcasts__day
						span 11
						| июня
					.broadcasts__time
						+icon('date-icon', true).broadcasts__time-icon
						| 13:30

				.broadcasts__content
					figure.broadcasts__image
						a(href="#")
							img(src="assets/images/content/broadcasts/broadcasts-1.jpg", alt="")
					.broadcasts__content-w
						a.broadcasts__item-title(href="#") Грифоны - Патриоты ЛАФ 2018
						.broadcasts__text Гостями просветительского проекта Lakhta View станут Моника Белло - независимый куратор и искусствовед, руководитель многопрофильной художественной программы Arts@CERN, а также Дайсукэ Сакаи - инженер и программист, сооснователь креативного междисциплинарного

						.broadcasts__meta
							.broadcasts__views 65701
							| посетитель


						.broadcasts__report Трансляция завершена:
							a(href="#") Cм. отчет

			li.broadcasts__item

				.broadcasts__day-w
					.broadcasts__day
						span 11
						| июня
					.broadcasts__time
						+icon('date-icon', true).broadcasts__time-icon
						| 13:30

				.broadcasts__content
					.broadcasts__content-w
						a.broadcasts__item-title(href="#") Зеленый марафон Сбербанка в Санкт-Петербурге
						.broadcasts__text Зеленый марафон Сбербанка в Санкт-Петербурге

						.broadcasts__meta
							.broadcasts__views 65701
							| посетитель

						.broadcasts__report Трансляция завершена:
							a(href="#") Cм. отчет

			li.broadcasts__item

				.broadcasts__day-w
					.broadcasts__day
						span 11
						| июня
					.broadcasts__time
						+icon('date-icon', true).broadcasts__time-icon
						| 13:30

				.broadcasts__content
					.broadcasts__content-w
						a.broadcasts__item-title(href="#") Грифоны - Патриоты ЛАФ 2018
						.broadcasts__text Гостями просветительского проекта Lakhta View станут Моника Белло - независимый куратор и искусствовед, руководитель многопрофильной художественной программы Arts@CERN, а также Дайсукэ Сакаи - инженер и программист, сооснователь креативного междисциплинарного

						.broadcasts__meta
							.broadcasts__views 65701
							| посетитель

						.broadcasts__report Трансляция завершена:
							a(href="#") Cм. отчет

			li.broadcasts__item

				.broadcasts__day-w
					.broadcasts__day
						span 11
						| июня
					.broadcasts__time
						+icon('date-icon', true).broadcasts__time-icon
						| 13:30

				.broadcasts__content
					.broadcasts__content-w
						a.broadcasts__item-title(href="#") Грифоны - Патриоты ЛАФ 2018
						.broadcasts__text Гостями просветительского проекта Lakhta View станут Моника Белло - независимый куратор и искусствовед, руководитель многопрофильной художественной программы Arts@CERN, а также Дайсукэ Сакаи - инженер и программист, сооснователь креативного междисциплинарного

						.broadcasts__meta
							.broadcasts__views 65701
							| посетитель

						.broadcasts__report Трансляция завершена:
							a(href="#") Cм. отчет

