.category
	&__header
		border-bottom 1px solid #f3f3f3
		padding-bottom 1px
		margin-bottom 24px
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items center
		+r($tM)
			margin-bottom 70px
	// &__title

	&__button
		+r($tM)
			margin-bottom -70px

	&__all-news
		position relative
		padding-right 23px
		display none
		font-size 18px
		color #007fc6
		text-decoration none
		tr(all .3s ease)
		+r($d)
			display block
		+r($tL)
			display none
		&:hover
			color darken(#007fc6, 10)
			tr(all .3s ease)
			.category__all-icon
				fill #fafafa
				stroke darken(#0790D1, 10)
	&__all-icon
		position absolute
		top 50%
		right 0
		width 8px
		height 15px
		fill #fafafa
		stroke #0790D1
		transform translateY(-50%)


	&__text
		@extends .wysiwyg
		padding-bottom 24px
		max-height 104px
		color #6a7381
		font-size 14px
		line-height 1.714
		+r($tL)
			padding-right 112px
		+r($tM)
			padding-right 0
			max-height 196px
		// +r($m)


	&__text_full
		max-height 100%

	// &__text-more

	&__videos
		border-top 1px solid #f3f3f3
		padding-top 36px
		+r($tM)
			border-top none
			padding-top 0

	&__list
		margin-bottom 43px
		+r($tM)
			margin-bottom 28px

	&__item
		border-top 1px solid #f3f3f3
		border-bottom 1px solid #f3f3f3
		padding-top 23px
		padding-bottom 23px
		+r($tM)
			border-top none
			padding-top 16px
			padding-bottom 12px
	&__channels
		// margin-top 10px
		margin-bottom 70px
		+r($d)
			margin-bottom 36px
		+r($tM)
			margin-bottom 0




	&__top-news
		margin-bottom 60px
		padding-top 28px
		padding-left 30px
		padding-bottom 50px
		box-shadow 0 2px 24px rgba(0, 0, 0, 0.1)
		// background-color #ffffff
		+r($tM)
			position relative
			margin-bottom 30px
			padding-top 20px
			padding-left 0
			box-shadow none
		&:after
			position absolute
			z-index -1
			top 0
			left 50%
			bottom 0
			width 1000%
			height 100%
			content ''
			display none
			background #FFF
			box-shadow 0 2px 24px rgba(0, 0, 0, 0.1)
			transform translateX(-50%)
			+r($tM)
				display block
	&__news-header
		margin-bottom 30px
		margin-right 30px
		border-bottom 1px solid #f3f3f3
		+r($tM)
			margin-right 0
			margin-bottom 24px
	&__news-list
		display flex
		flex-flow row wrap
		justify-content flex-start

		// .slick-list
		// 	padding 0 30% 0 0

		.slick-arrow
			z-index 1
			width 160px
			height 100%
			background-image linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%)
			opacity 1
			visibility visible
			&:hover,
			&:focus
				background-image linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%)

			&.slick-disabled
				display none
				visibility hidden
				&:hover
					display none
			&:before
				position absolute
				top 92px
				width 30px
				height 30px
				content ''
				background url('../images/general/arrow-right-sec.svg') 0 0 no-repeat
				background-size cover

			&:after
				+r($d)
					position absolute
					z-index -1
					top 83px
					border 1px solid #f3f3f3
					width 46px
					height 46px
					content ''
					background-color #ffffff
					border-radius 50%

		.slick-prev
			left -1px
			transform translateY(-50%)
			background-image linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%)
			&:hover,
			&:focus
				background-image linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%)
			&:before
				left 12px
				transform rotate(180deg)
				+r($d)
					left -25px
			&:after
				+r($d)
					left -27px

		.slick-next
			right -1px
			&:before
				right 12px
				+r($d)
					right -25px
			&:after
				+r($d)
					right -27px


		.slick-dots
			bottom -35px
			li
				margin 0
				margin-right 12px
				width 12px
				height 12px
				border-radius 10px
				background-color #d8d8d8
				&:last-child
					margin-right 0
			button
				padding 0
				width 12px
				height 12px
				&:before
					display none

			.slick-active
				background-color #40527b


	&__news-item
		padding-right 24px
		width 240px



