.persons,
.address-list
	&__header
		+r($tM)
			margin-bottom 16px
	&__form
		margin-bottom 20px
		max-width 288px

	&__find
		margin-bottom 17px
		color #6a7381
		font-size 20px
		font-family $hL
		span
			color #fbb727
			font-family $hR

	// &__list

	&__item
		border-top 1px solid #f3f3f3
		padding-top 20px
		padding-bottom 20px
		+r($tL)
			padding-top 7px
			padding-bottom 7px
	&__person
		&:hover
			.person__name
				color lighten(#001d49, 10)
				tr(all .3s ease)



