include ../mentions/mentions
include ../comments/comments

mixin pers()
	section.pers.category&attributes(attributes)
		header.pers__header.category__header
			h1.pers__title.title.title_full Газманов Олег Михайлович
		.pers__top
			figure.pers__photo
				img(src="assets/images/content/person-single/person-1.jpg", alt="")
			.pers__w
				.pers__short-desc Советский и российский артист эстрады, поэт, музыкант, композитор

				dl.pers__info
					.pers__info-item
						dt.pers__info-term Дата рождения:
						dd.info-desc 22 июля 1951 г.
					.pers__info-item
						dt.pers__info-term Страна, город:
						dd.info-desc Россия, Калининград, Москва

		.pers__text
			h2 Биография
			p Газманов, Олег Михайлович, советский и российский артист эстрады, поэт, музыкант, композитор, заслуженный артист Российской Федерации (1995), народный артист Российской Федерации (2001). Родился в калининградской области, в городе Гусеве, 22 июля 1951 года.
			p После окончания средней школы, Олег поступает в Калининградское высшее инженерное морское училище. На третьем курсе начинает активно заниматься научной работой. В 1973 году, по завершении учебы преподавал на кафедре КВИМУ.

			p Параллельно с научной работой Олег Михайлович профессионально занимался музыкой – в 1983 году окончил Калининградское музыкальное училище по классу гитары, принимал участие в популярных в Калининграде музыкальных коллективах «Атлантик» и «Визит», работал музыкантом в ресторане гостиницы «Калининград».

			p Сольную музыкальную карьеру начал в конце восьмидесятых годов – выступал дуэтом со своим сыном Родионом (1981 г. р.), затем собрал собственный коллектив «Эскадрон», который очень быстро стал популярен в России. С этим коллективом Олег Михайлович выступает на сцене и по сей день – вот уже более двадцати лет.

			p Помимо творческой, Олег Газманов ведет активную общественную деятельность – с 2002 года является Послом доброй воли Детского фонда ООН (ЮНИСЕФ). В 1997 году некоторое время работал в качестве ведущего телепрограммы «Угадай мелодию». В 2010 году Олег Газманов был выбран в качестве композитора для написания гимна города Сочи.

			p Олег Михайлович женат вторым браком, есть трое детей, один из которых приемный. Награжден орденом Почета (2006), медалью «В память 850-ти летия Москвы», медалью «За укрепление боевого содружества», медалью «Генерал армии Маргелов», юбилейной медалью «300 лет Российскому флоту», кавалер ордена «За заслуги перед Отечеством IV степени (2012). Заслуженный артист Российской Федерации (1995), народный артист Российской Федерации (2001). Является обладателем множества наград и почетных званий в области эстрадного искусства, в том числе четырехкратный обладатель премии «Золотой граммофон» – в 1996, 1999, 2003 и 2010 годах. Кандидат в мастера спорта по спортивной гимнастике, капитан 3-го ранга в запасе.

			p В марте 2014 года Газманов выступил в поддержку политики российского правительства на Украине и в Крыму, а в июле был включен в список артистов российской эстрады (вместе с Валерией и Иосифом Кобзоном), которым запрещен на неопределенный срок въезд в Латвию.

		+mentions().pers__mentions

		+comments-person().pers__comments
