mixin related()
	.related&attributes(attributes)
		header.related__header.sidebar__header
			h2.related__title.title.title_side Связанные новости

		ul.related__list
			li.related__item
				article.news-article.news-article_side
					a.news-article__link(href="#" title='Рэпер Мот о своем самом романтическом свидании')
						.news-article__image
							img(src="assets/images/content/side-news/side-news-1.jpg", alt="")
							+icon('video-icon', true).news-article__video-icon
						.news-article__w
							.news-article__title Вышел "Чужой дневник”…
							.news-article__meta
								.news-article__date Вчера 18:56
								.news-article__views
									+icon('views-icon', true).news-article__views-icon
									| 256
							.news-article__category Картина дня


			li.related__item
				article.news-article.news-article_side
					a.news-article__link(href="#" title='Рэпер Мот о своем самом романтическом свидании')
						.news-article__image
							img(src="assets/images/content/side-news/side-news-2.jpg", alt="")
							+icon('video-icon', true).news-article__video-icon
						.news-article__w
							.news-article__title В мастерской художника:Ник…
							.news-article__meta
								.news-article__date Вчера 18:56
								.news-article__views
									+icon('views-icon', true).news-article__views-icon
									| 256
							.news-article__category Картина дня


			li.related__item
				article.news-article.news-article_side
					a.news-article__link(href="#" title='Рэпер Мот о своем самом романтическом свидании')
						.news-article__image
							img(src="assets/images/content/side-news/side-news-1.jpg", alt="")
							+icon('video-icon', true).news-article__video-icon
						.news-article__w
							.news-article__title Вышел "Чужой дневник”…
							.news-article__meta
								.news-article__date Вчера 18:56
								.news-article__views
									+icon('views-icon', true).news-article__views-icon
									| 256
							.news-article__category Картина дня

			li.related__item
				article.news-article.news-article_side
					a.news-article__link(href="#" title='Рэпер Мот о своем самом романтическом свидании')
						.news-article__image
							img(src="assets/images/content/side-news/side-news-2.jpg", alt="")
							+icon('video-icon', true).news-article__video-icon
						.news-article__w
							.news-article__title В мастерской художника:Ник…
							.news-article__meta
								.news-article__date Вчера 18:56
								.news-article__views
									+icon('views-icon', true).news-article__views-icon
									| 256

							.news-article__category Картина дня

