.related
	display block
	&__header
		border-bottom 1px solid #f3f3f3
		padding-bottom 1px
		margin-bottom 24px

	// &__list

	&__item
		border-top 1px solid #f3f3f3
		border-bottom 1px solid #f3f3f3
		padding-top 16px
		padding-bottom 16px

