mixin poll()
	+b.poll&attributes(attributes)
		block

mixin poll-side()
	.poll(data-simplebar data-simplebar-auto-hide="false")&attributes(attributes)
		.poll__title Город засыпает снегом. Как вам погода, петербуржцы???
		ul.poll__list
			li.poll__item
				.poll__item-w
					.poll__item-title Круто! Нужно больше снега!
					.poll__item-result-w
						.poll__item-result(style='width:10%;')
				.poll__item-percent 10%
			li.poll__item
				.poll__item-w
					.poll__item-title Красиво, но слишком много проблем на дорогах.
					.poll__item-result-w
						.poll__item-result(style='width:80%;')
				.poll__item-percent 80%
			li.poll__item
				.poll__item-w
					.poll__item-title Круто! Нужно больше снега!
					.poll__item-result-w
						.poll__item-result(style='width:20%;')
				.poll__item-percent 10%


